---
http_interactions:
- request:
    method: get
    uri: https://query.yahooapis.com/v1/public/yql?callback=&diagnostics=true&env=store://datatables.org/alltableswithkeys&format=json&q=SELECT%20*%20FROM%20yahoo.finance.stocks%20WHERE%20symbol='aapl'
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Anticrime:
      - PbDGGy_po9kv.
      X-Yql-Host:
      - engine4.yql.bf1.yahoo.com
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"query":{"count":1,"created":"2014-10-31T20:21:38Z","lang":"en-US","diagnostics":{"url":[{"execution-start-time":"0","execution-stop-time":"1","execution-time":"1","content":"http://www.datatables.org/yahoo/finance/yahoo.finance.stocks.xml"},{"execution-start-time":"5","execution-stop-time":"161","execution-time":"156","content":"http://finance.yahoo.com/q?s=aapl"},{"execution-start-time":"5","execution-stop-time":"161","execution-time":"156","content":"http://finance.yahoo.com/q?s=aapl"},{"execution-start-time":"5","execution-stop-time":"218","execution-time":"213","content":"http://finance.yahoo.com/q/pr?s=aapl"},{"execution-start-time":"5","execution-stop-time":"218","execution-time":"213","content":"http://finance.yahoo.com/q/pr?s=aapl"},{"execution-start-time":"6","execution-stop-time":"822","execution-time":"816","content":"http://finance.yahoo.com/q/hp?s=aapl"},{"execution-start-time":"6","execution-stop-time":"822","execution-time":"816","content":"http://finance.yahoo.com/q/hp?s=aapl"}],"publiclyCallable":"true","cache":[{"execution-start-time":"4","execution-stop-time":"5","execution-time":"1","method":"GET","type":"MEMCACHED","content":"bcd022d1d39e092a7a1390d6f5cf574a"},{"execution-start-time":"5","execution-stop-time":"5","execution-time":"0","method":"GET","type":"MEMCACHED","content":"32c5f8788e8bc68ba5e635ae25257e23"},{"execution-start-time":"5","execution-stop-time":"6","execution-time":"1","method":"GET","type":"MEMCACHED","content":"8c548d6a60dd1f067626b9ecdf556eb3"}],"query":[{"execution-start-time":"5","execution-stop-time":"168","execution-time":"163","params":"{url=[http://finance.yahoo.com/q?s=aapl]}","content":"select
        * from html where url=@url and xpath=''//div[@id=\"yfi_investing_head\"]/h1
        | //div[@class=\"yfi_quote_summary\"]/div[1]''"},{"execution-start-time":"5","execution-stop-time":"220","execution-time":"215","params":"{url=[http://finance.yahoo.com/q/pr?s=aapl]}","content":"select
        * from html where url=@url and xpath=''//table[@class=\"yfnc_datamodoutline1\"]/tr/td/table/tr''
        limit 4"},{"execution-start-time":"6","execution-stop-time":"828","execution-time":"822","params":"{url=[http://finance.yahoo.com/q/hp?s=aapl]}","content":"select
        * from html where url=@url and xpath=''//option[@selected=\"selected\"] |
        //input[@maxlength=\"2\"] | //input[@maxlength=\"4\"]''"}],"javascript":{"execution-start-time":"2","execution-stop-time":"829","execution-time":"826","instructions-used":"46309","table-name":"yahoo.finance.stocks"},"user-time":"830","service-time":"2318","build-version":"0.2.172"},"results":{"stock":{"symbol":"aapl","CompanyName":null,"start":"1980-12-12","end":"2014-NaN-31","Sector":"Consumer
        Goods","Industry":"Electronic Equipment","FullTimeEmployees":"92600"}}}}'
  recorded_at: Fri, 31 Oct 2014 20:21:38 GMT
recorded_with: VCR 2.9.3
