---
http_interactions:
- request:
    method: get
    uri: https://query.yahooapis.com/v1/public/yql?callback=&diagnostics=true&env=store://datatables.org/alltableswithkeys&format=json&q=SELECT%20*%20FROM%20yahoo.finance.stocks%20WHERE%20symbol='asdf'
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Anticrime:
      - M15bNv0y5hctG3Z
      X-Yql-Host:
      - engine2.yql.bf1.yahoo.com
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"query":{"count":1,"created":"2014-11-01T22:13:44Z","lang":"en-US","diagnostics":{"url":[{"execution-start-time":"1","execution-stop-time":"41","execution-time":"40","content":"http://www.datatables.org/yahoo/finance/yahoo.finance.stocks.xml"},{"execution-start-time":"164","execution-stop-time":"628","execution-time":"464","content":"http://finance.yahoo.com/q/pr?s=asdf"},{"execution-start-time":"164","execution-stop-time":"628","execution-time":"464","content":"http://finance.yahoo.com/q/pr?s=asdf"},{"execution-start-time":"164","execution-stop-time":"628","execution-time":"464","content":"http://finance.yahoo.com/q/pr?s=asdf"},{"execution-start-time":"164","executio[...]
- request:
    method: get
    uri: https://query.yahooapis.com/v1/public/yql?callback=&diagnostics=true&env=store://datatables.org/alltableswithkeys&format=json&q=SELECT%20*%20FROM%20yahoo.finance.stocks%20WHERE%20symbol='%5C/'
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Anticrime:
      - b6whazzlo
      X-Yql-Host:
      - engine5.yql.bf1.yahoo.com
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"error":{"lang":"en-US","diagnostics":null,"description":"Query
        syntax error(s) [line 1:50 mismatched character ''/'' expecting set null]"}}'
  recorded_at: Sat, 01 Nov 2014 22:13:49 GMT
recorded_with: VCR 2.9.3
